.App-header {
  text-align: center;
  background-color: #3b3e63;
  height: 60px;
  padding: 20px;
  color: white;

  * {
    display: inline !important;
  }

  a {
    color: white;
    text-decoration: none;
  }

  small {
    color: gray;
  }
}

.App-intro {
  font-size: large;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.content {
  margin-left: 20px;
  margin-right: 20px;
}
