$icon-width: 4em;
$icon-height: 4em;

.catagory-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catagory {
  max-width: 200px;
  margin: 20px auto;
  text-align: center;

  .catagory-name {
    font-size: 1.3em;
    font-weight: bold;
    text-transform: lowercase;
    font-variant: small-caps;
  }

  img {
    padding: 0.2em;
    // display: block;
    width: $icon-width;
    max-width: $icon-width;
    height: $icon-height;
    min-height: $icon-height;
    // border: 1px solid #2f2525;
    // border-radius: 20%;
    // box-shadow: 0.2em 0.2em 0.2em #403f3f;
  }

  .catagory-description {
    font-size: 0.8em;
  }
}
