.category-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-main {
  $icon-width: 1.5em;
  $icon-height: 1.5em;

  img {
    float: left;
    vertical-align: middle;
    width: $icon-width;
    max-width: $icon-width;
    height: $icon-height;
    max-height: $icon-height;
  }
}

.category {
  text-align: center;
  $icon-width: 4em;
  $icon-height: 4em;
  max-width: 200px;
  margin: 20px auto;

  .category-name {
    font-size: 1.3em;
    font-weight: bold;
    text-transform: lowercase;
    font-variant: small-caps;
  }

  img {
    padding: 0.2em;
    width: $icon-width;
    max-width: $icon-width;
    height: $icon-height;
    min-height: $icon-height;
  }

  .category-description {
    font-size: 0.8em;
  }
}
